* {
  margin: 0;
  border: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.container {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background: rgba(5, 11, 22, 1)
    url(./static/images/28ef4c0d-0026-4521-932e-75beab5a500f.png) no-repeat;
  background-size: cover;
  overflow-x: hidden;
  transform-origin: 0px 0px;
}
.container::-webkit-scrollbar {
  display: none;
}
#item5683a210-69e4-11ec-a704-9548eb340fcd {
  position: absolute;
  left: 970px;
  top: 612.5px;
  width: 160px;
  height: 150px;
  z-index: 11;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#itemdd8d0be0-69dd-11ec-a41b-4108e13e60f6 {
  position: absolute;
  left: -12.18px;
  top: 1079.08px;
  width: 1289.51px;
  height: 872.13px;
  z-index: 9;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item35b62f60-69d7-11ec-a41b-4108e13e60f6 {
  position: absolute;
  left: 487.08px;
  top: 126.12px;
  width: 308.4px;
  height: 64.74px;
  z-index: 3;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item31b2b310-69d8-11ec-a41b-4108e13e60f6 {
  position: absolute;
  left: 138.32px;
  top: 190.04px;
  width: 976.62px;
  height: 539.21px;
  z-index: 2;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(0, 0, 0, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item198d0480-69d7-11ec-a41b-4108e13e60f6 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1289.51px;
  height: 872.13px;
  z-index: 1;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#itema16df6b0-69dd-11ec-a41b-4108e13e60f6 {
  position: absolute;
  left: 898.57px;
  top: 741.48px;
  width: 795.73px;
  height: 338.52px;
  z-index: 8;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item67d22670-69dc-11ec-a41b-4108e13e60f6 {
  position: absolute;
  left: 281.43px;
  top: 39.35px;
  width: 153.05px;
  height: 45.85px;
  z-index: 16;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item2f8527e0-69dc-11ec-a41b-4108e13e60f6 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 795.73px;
  height: 338.52px;
  z-index: 15;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item55f078e0-69db-11ec-a41b-4108e13e60f6 {
  position: absolute;
  left: 74.32px;
  top: 104.46px;
  width: 608px;
  height: 180px;
  z-index: 14;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item246dbef0-69b2-11ec-a841-2b132ce7c58b {
  position: absolute;
  left: 569.94px;
  top: 176.04px;
  width: 388.99px;
  height: 914.51px;
  z-index: 7;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item5773ebc0-69b3-11ec-a841-2b132ce7c58b {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 368.11px;
  height: 303.03px;
  z-index: 3;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item5773ebc1-69b3-11ec-a841-2b132ce7c58b {
  position: absolute;
  left: 111.08px;
  top: 32.66px;
  width: 144.05px;
  height: 41.59px;
  z-index: 3;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item5773ebc2-69b3-11ec-a841-2b132ce7c58b {
  position: absolute;
  left: 0px;
  top: 51.84px;
  width: 351.69px;
  height: 249.96px;
  z-index: 2;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item5773ebc3-69b3-11ec-a841-2b132ce7c58b {
  position: absolute;
  left: 9.4px;
  top: 0px;
  width: 358.71px;
  height: 303.03px;
  z-index: 1;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item57a92c90-69b3-11ec-a841-2b132ce7c58b {
  position: absolute;
  left: 7.27px;
  top: 590px;
  width: 361.68px;
  height: 324.51px;
  z-index: 2;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item57a92c91-69b3-11ec-a841-2b132ce7c58b {
  position: absolute;
  left: 102.52px;
  top: 34.97px;
  width: 145.25px;
  height: 44.54px;
  z-index: 3;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item962cc930-69b4-11ec-a841-2b132ce7c58b {
  position: absolute;
  left: 24.3px;
  top: 32.67px;
  width: 302.64px;
  height: 278.63px;
  z-index: 2;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item57a92c93-69b3-11ec-a841-2b132ce7c58b {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 361.68px;
  height: 324.51px;
  z-index: 1;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item30bc6170-69b2-11ec-a841-2b132ce7c58b {
  position: absolute;
  left: 5.78px;
  top: 281.81px;
  width: 383.21px;
  height: 343.53px;
  z-index: 1;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#itemb2654840-69b2-11ec-a841-2b132ce7c58b {
  position: absolute;
  left: 25.36px;
  top: 46.74px;
  width: 304.89px;
  height: 36.41px;
  z-index: 3;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item83c24eb0-69d6-11ec-a41b-4108e13e60f6 {
  position: absolute;
  left: 84.61px;
  top: 75.85px;
  width: 298.6px;
  height: 209.73px;
  z-index: 2;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#itemfe84d9d0-69b1-11ec-a841-2b132ce7c58b {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 366.33px;
  height: 343.53px;
  z-index: 1;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item4d575c20-3e1c-11ec-9ac5-c10a0ae21a86 {
  position: absolute;
  left: 23.81px;
  top: 34.48px;
  width: 2060px;
  height: 119.12px;
  z-index: 6;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item799f8150-69e0-11ec-a41b-4108e13e60f6 {
  position: absolute;
  left: 1377.37px;
  top: 86.85px;
  width: 682.63px;
  height: 32.27px;
  z-index: 3;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item128b82ec-586f-4ac6-8fe4-3492614ff711 {
  position: absolute;
  left: 0px;
  top: 86.56px;
  width: 324.48px;
  height: 32.27px;
  z-index: 4;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item3e248570-3e1c-11ec-9ac5-c10a0ae21a86 {
  position: absolute;
  left: 1283.86px;
  top: 0px;
  width: 682.63px;
  height: 32.27px;
  z-index: 3;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item104422f0-3e1c-11ec-9ac5-c10a0ae21a86 {
  position: absolute;
  left: 14.05px;
  top: 0px;
  width: 110.97px;
  height: 32.27px;
  z-index: 2;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#itemc81405f0-3e1a-11ec-9ac5-c10a0ae21a86 {
  position: absolute;
  left: 21.66px;
  top: 33.3px;
  width: 1804.82px;
  height: 47px;
  z-index: 1;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item3cea5f20-3e19-11ec-b331-d9ec61910d4a {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 244.24px;
  height: 47px;
  z-index: 2;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#itema13d0230-3e18-11ec-b331-d9ec61910d4a {
  position: absolute;
  left: 1577.82px;
  top: 0px;
  width: 227px;
  height: 47px;
  z-index: 1;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item09c0a990-69ae-11ec-a841-2b132ce7c58b {
  position: absolute;
  left: -11px;
  top: 0px;
  width: 1942px;
  height: 1080px;
  z-index: 5;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item92223af7-e885-4536-8de4-9c3f4adf0053 {
  position: absolute;
  left: 22px;
  top: 0px;
  width: 1920px;
  height: 26px;
  z-index: 2;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item3488dca0-3e0a-4c7e-ad28-336f2dbcfb65 {
  position: absolute;
  left: 0px;
  top: 1054px;
  width: 1920px;
  height: 26px;
  z-index: 1;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item88b51490-3e05-11ec-a2e6-953464dcce14 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 313.36px;
  z-index: 4;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item8548a590-699f-11ec-9aee-692c5fcdc403 {
  position: absolute;
  left: 540.09px;
  top: 32.51px;
  width: 861.82px;
  height: 68.19px;
  z-index: 4;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item4ec4a890-3dec-11ec-a2e6-953464dcce14 {
  position: absolute;
  left: 518.27px;
  top: 88.85px;
  width: 905.46px;
  height: 22.78px;
  z-index: 3;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item3791a339-90b3-4430-a873-76582b0c2bc2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 313.36px;
  z-index: 1;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item21744a99-269b-4e9c-b4da-a7fcf645e9e4 {
  position: absolute;
  left: 1304.37px;
  top: 200px;
  width: 576.04px;
  height: 825.8px;
  z-index: 3;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#itemc2579760-3e0d-11ec-9df4-83999b721ef6 {
  position: absolute;
  left: 19.43px;
  top: 161.28px;
  width: 611.11px;
  height: 496.79px;
  z-index: 2;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#itemb65529d0-69e3-11ec-a704-9548eb340fcd {
  position: absolute;
  left: 0px;
  top: 67px;
  width: 562.41px;
  height: 464.73px;
  z-index: 3;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#itemea2e0360-3e07-11ec-a2e6-953464dcce14 {
  position: absolute;
  left: 6.64px;
  top: 4.09px;
  width: 552.82px;
  height: 453.31px;
  z-index: 3;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#iteme9e561a0-3e07-11ec-a2e6-953464dcce14 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 562.41px;
  height: 464.73px;
  z-index: 2;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#itemb2c9c580-69a9-11ec-9aee-692c5fcdc403 {
  position: absolute;
  left: 213.25px;
  top: 58.95px;
  width: 153.05px;
  height: 45.85px;
  z-index: 2;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item21b9f0f0-69af-11ec-a841-2b132ce7c58b {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 611.11px;
  height: 461.2px;
  z-index: 1;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#itemabc0b440-3e0e-11ec-b331-d9ec61910d4a {
  position: absolute;
  left: 19.43px;
  top: 633.08px;
  width: 611.11px;
  height: 461.2px;
  z-index: 1;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item81993ee0-69af-11ec-a841-2b132ce7c58b {
  position: absolute;
  left: 210.08px;
  top: 57.9px;
  width: 153.05px;
  height: 45.85px;
  z-index: 3;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item00b7ea00-3e0e-11ec-b331-d9ec61910d4a {
  position: absolute;
  left: 53.22px;
  top: 98.28px;
  width: 502.61px;
  height: 299.51px;
  z-index: 2;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
#item3c269ec0-69af-11ec-a841-2b132ce7c58b {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 611.11px;
  height: 461.2px;
  z-index: 1;
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0);
  border: 0px solid #2ed64a;
  border-radius: 0px;
  padding: 0px;
}
